header{
 	display:flex;
	justify-content: center;
}

/* = = = = = 타이틀 = = = = =*/
#page_title{
    margin: 0 auto;
    width: 100%;
 	text-align: center;
}

#page_title h1{
	margin:0 0 0 0;
}

#page_title span{
    align:center;
	display:inline-block;
	text-align:center;
	background-color:transparent;
	color:black;
	font-size:60px;
	border-radius:1.5px;
}

/* = = = = = 게시판 = = = = =*/
.poly_table{
	margin: 0 auto;
	width:830px;
	margin-bottom:30px;
}

.poly_table table {
	text-align: center;
    border-collapse: collapse;
}
.poly_table th, td {
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
	text-align: center;
	height:35px;
}

.poly_table th{
	background-color: #eeeeee; 
	font-weight:bold;
}

/* = = = = = 페이지버튼 = = = = =*/
#page_button{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin-left:2px;
  margin-right:2px;
  border-radius: 5px;
  background-color:#f1f1f1;
}

.pagination a.active {
  background-color: #17a2b8;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}